name: Build Spring Boot JAR

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: Spring-/apiEjemplo2026
        
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - run: chmod +x gradlew
      - run: ./gradlew clean bootJar
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: spring-app
          path: Spring-apiEjemplo2026/build/libs/*.jar
