name: Build Spring Boot JAR

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission
        # Usamos GITHUB_WORKSPACE para asegurar la ruta desde la raíz real
        run: chmod +x "$GITHUB_WORKSPACE/Spring-/apiEjemplo2026/gradlew"

      - name: Build with Gradle
        # Entramos a la carpeta y ejecutamos en una sola línea
        run: |
          cd "$GITHUB_WORKSPACE/Spring-/apiEjemplo2026"
          ./gradlew clean bootJar

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: spring-app
          path: "**/build/libs/*.jar"
